@import '@styles/base.scss';

@include mainContainer {
  @include containerCenter;

  .innerContainer {
    @include directionY;
    @include padding(0.5rem);
    @include shadow;

    background-color: var(--color-bg);
    width: 100%;
    border-radius: 10px;
    gap: 0.5rem;

    @include apply-at-sm-size {
      @include directionX;
      @include padding(1rem);

      width: 95%;
      gap: 1rem;
    }
    @include apply-at-md-size {
      width: 90%;
      max-width: calc($screen-lg-limit - 50px);
    }

    .leftSide {
      @include directionX;

      background-color: var(--color-bg-secondary);
      border-radius: 10px;
      width: 100%;
      gap: 0;

      @include apply-at-sm-size {
        @include directionY;
        @include paddingY(1rem);

        width: 30%;
        gap: 0.4rem;
      }
      @include apply-at-md-size {
        @include paddingY(2rem);
      }

      .stepsIndicators {
        @include directionY;
        @include paddingX(0.2rem);
        @include paddingY(0.4rem);

        align-items: center;
        cursor: pointer;
        flex-grow: 1;
        width: 25%;

        &[data-active='true'] {
          background-color: var(--color-bg);
          font-weight: 600;

          .stepNumberContainer {
            background-color: var(--color-bg-secondary);
            .stepNumber {
              &[data-active='true'] {
                font-weight: 700;
              }
            }
          }
        }

        @include apply-at-sm-size {
          @include paddingX(10%);
          @include paddingY(1rem);
          @include directionX;

          width: 100%;
        }

        .stepNumberContainer {
          @include directionX;

          align-items: center;
          justify-content: center;
          width: 1.5rem;
          height: 1.5rem;
          margin-bottom: 0.2rem;
          border-radius: 9999px;
          background-color: var(--color-bg);
          flex-shrink: 0;

          @include apply-at-sm-size {
            margin-right: 0.6rem;
            margin-bottom: 0;
          }
        }
        .stepTitle {
          text-align: center;
          font-size: 0.7rem;
          margin-top: 0.5rem;

          @include apply-at-sm-size {
            text-align: start;
            margin-top: 0;
            font-size: 1rem;
          }
        }
      }
    }
    .rightSide {
      @include directionY;
      @include padding(0.5rem);

      width: 100%;
      background-color: var(--color-bg-secondary);
      border-radius: 10px;

      @include apply-at-sm-size {
        width: 70%;
      }
      @include apply-at-md-size {
        @include padding(1rem);
      }

      .rightSideFooter {
        @include directionX;

        align-items: center;
        justify-content: center;
        gap: 1.2rem;
        margin-top: 1rem;

        @include apply-at-sm-size {
          justify-content: end;
          gap: 0.8rem;
        }

        .prevBtn {
          @include button;
        }
        .nextBtn {
          @include button;
        }
      }
    }
  }
}

.componentContainer {
  @include directionY;

  flex-grow: 1;
  min-height: 400px;

  @include apply-at-sm-size {
    min-height: 350px;
  }

  .title {
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
  }
  .pageTitle {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
  }
  .pageTitleBig {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
  }
  .variantContainer {
    @include directionX;
    @include paddingX(1rem);
    @include paddingY(0.5rem);

    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.4rem;

    .variant {
      @include paddingY(0.2rem);
      @include paddingX(0.4rem);

      border: 1px solid var(--color-border);
      border-radius: 9999px;
      width: max-content;
      flex-shrink: 0;
      cursor: pointer;

      &[data-active='true'] {
        background-color: var(--color-button);
      }
    }
  }
  .couponsContainer {
    @include directionY;

    gap: 0.5rem;
    overflow-y: auto;
    height: 180px;

    .coupon {
      @include directionX;
      @include padding(1rem);

      border: 1px solid var(--color-border);
      border-radius: 10px;
      width: 100%;
      cursor: pointer;

      &[data-active='true'] {
        background-color: var(--color-bg);
      }

      .name {
        flex-grow: 1;
      }
      .price {
        font-weight: 600;
      }
    }
  }
  .paymentSelectionContainer {
    @include directionX;

    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .payment {
      @include directionY;

      width: 40%;
      height: 150px;
      border: 1px solid var(--color-border);
      border-radius: 10px;
      gap: 0.3rem;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &[data-active='true'] {
        background-color: var(--color-bg);
      }

      .text {
        text-align: center;
      }
    }
  }
  .sumaryContainer {
    @include directionY;

    height: 180px;
    overflow-y: auto;

    .data {
      @include directionX;

      align-items: center;
      width: 100%;

      .name {
        flex-grow: 1;
      }
      .price {
        font-weight: 600;
      }
    }
  }
  .footer {
    @include directionY;

    flex-grow: 1;
    justify-content: center;

    .footerTitle {
      width: 100%;
      text-align: center;
      margin-bottom: 0.5rem;
    }
    .priceContainer {
      @include directionX;

      align-items: center;
      justify-content: center;

      .icon {
        margin-right: 0.8rem;
      }
      .priceValue {
        font-weight: 600;

        &[data-variant='cut'] {
          text-decoration: line-through;
        }
      }
      .priceValueCut {
        display: none;
        font-weight: 600;
        font-size: 1.2rem;
        margin-left: 1rem;

        &[data-active='true'] {
          display: block;
        }
      }
    }
    .method {
      width: 100%;
      text-align: center;
      margin-top: 0.2rem;
      font-weight: 300;
      font-size: 0.6rem;

      .name {
        font-weight: 600;
      }
    }
  }
}
