@import '@styles/base';

@include mainContainer {
  .title {
    margin-bottom: 0.6rem;
  }
  .dataContainer {
    @include directionX;

    flex-grow: 1;

    .dataGrid {
      width: 100%;

      .innerDataGrid {
        @include grid(1, 0.6rem);
        width: 100%;

        @include apply-at-sm-size {
          @include grid(2, 0.6rem);
        }
        @include apply-at-lg-size {
          @include grid(3, 0.6rem);
        }
      }
    }
    .empty {
      @include containerCenter;

      width: 100%;
      flex-grow: 1;
    }
  }
}

.bookingCard {
  @include padding(0.5rem);
  @include directionY;

  border-radius: 10px;
  background-color: var(--color-bg);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  .cardImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }
  .cardContent {
    @include directionY;

    width: 100%;
    margin-top: 0.5rem;
    .bookCode {
      font-weight: 700;
      font-size: 1.2rem;
    }
    .title {
      font-weight: 500;
      margin-bottom: 0.2rem;
      font-size: 0.8rem;
    }
    .variant {
      font-weight: 500;
      margin-bottom: 0.5rem;
      font-size: 0.8rem;
    }
    .statusContainer {
      @include statusContainer;
    }
  }
}

.detailContainer {
  @include directionY;

  .buttonContainer {
    width: 100%;
    margin-bottom: 0.5rem;

    .backBtn {
      @include button;
    }
  }
  .bookingCode {
    margin-bottom: 0.5rem;
  }
  .contentContainer {
    @include directionY;
    gap: 0.5rem;

    @include apply-at-sm-size {
      @include directionX;
      gap: 1rem;

      .leftSide {
        width: 50% !important;
        flex-shrink: 0;
      }
      .rightSide {
        width: 50% !important;
        flex-shrink: 0;
      }
    }

    .leftSide {
      width: 100%;
      flex-shrink: 0;

      .image {
        width: 100%;
        height: 45vw;
        object-fit: cover;
        object-position: center;

        @include apply-at-sm-size {
          height: 25vw;
        }
      }
      .contentDetails {
        @include directionY;
        @include paddingX(0.4rem);

        width: 100%;
        margin-top: 0.5rem;
        gap: 0.3rem;

        .detailIconContainer {
          @include directionX;

          width: 100%;
          align-items: start;

          .icon {
            margin-right: 0.5rem;
          }
          .text {
            flex-grow: 1;
          }
        }
      }
    }
    .rightSide {
      @include directionY;
      width: 100%;
      flex-shrink: 0;

      .title {
        width: 100%;
        margin-bottom: 0.2rem;
      }
      .priceContainer {
        @include directionX;

        align-items: center;
        margin-bottom: 0.2rem;

        .icon {
          font-size: 2rem;
          margin-right: 1rem;
        }
        .price {
          font-size: 1.6rem;
        }
      }
      .paymentMethodContainer {
        @include marginY(0.5rem);
        @include directionY;

        width: 100%;
        align-items: center;

        .image {
          width: 200px;
          height: 200px;
          object-fit: cover;
          object-position: center;
        }
        .text {
          font-weight: 500;
        }
      }
      .variant {
        @include paddingY(0.2rem);
        @include paddingX(0.4rem);

        border: 1px solid var(--color-border);
        border-radius: 9999px;
        width: max-content;
        flex-shrink: 0;
        cursor: pointer;
        margin-bottom: 1rem;

        &[data-active='true'] {
          background-color: var(--color-button);
        }
      }
      .statusContainer {
        @include statusContainer;

        margin-bottom: 0.5rem;
      }
      .statusBtnContainer {
        @include directionX;

        gap: 0.5rem;
        justify-content: center;
        margin-bottom: 0.5rem;

        .button {
          @include button;
        }
      }
      .descriptionTitle {
        margin-bottom: 0.5rem;
      }
      .description {
        width: 100%;
      }
    }
  }
}
