@import '@styles/base.scss';

@include mainContainer {
  .title {
    margin-bottom: 0.6rem;
  }
  .dataContainer {
    .data {
      .delBtn {
        @include button;
        width: 100px;
        height: 100px;
        
      }
    }
  }
}
