@import '@styles/base';

@include mainContainer {
  .title {
    margin-bottom: 0.6rem;
  }
  .searchContainer {
    @include directionY;
    @include padding(0.6rem);

    background-color: var(--color-bg);
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);

    .title {
      font-size: 1rem;
    }
    .input {
      @include input;
      width: 100%;
    }
  }
  .dataContainer {
    @include directionX;

    flex-grow: 1;

    .dataGrid {
      width: 100%;

      .innerDataGrid {
        @include grid(1, 0.6rem);
        width: 100%;

        @include apply-at-sm-size {
          @include grid(2, 0.6rem);
        }
        @include apply-at-lg-size {
          @include grid(3, 0.6rem);
        }
      }
    }
    .empty {
      @include containerCenter;

      width: 100%;
      flex-grow: 1;
    }
  }
}
