@import '@styles/base.scss';

@include mainContainer {
  .title {
    margin-bottom: 2rem;
  }
  .contentContainer {
    @include directionY;

    gap: 1.5rem;

    @include apply-at-sm-size {
        @include directionX;

        gap: 3rem;
    }

    .leftSide {
      @include directionY;

      width: 100%;
      flex-shrink: 0;
      z-index: 0 !important;

      @include apply-at-sm-size {

        width: 30%;

        .profileImage {
          width: 100%;
          aspect-ratio: 1 / 1;
        }
      }

      .profileImage {
        width: 100%;
        height: auto !important;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
        border-radius: 9999px;
        margin-bottom: 1rem;
      }
      .button {
        @include button;
        text-align: center;
        margin-bottom: 0.8rem;
      }

      .accountInfoContainer {
        @include directionY;

        width: 100%;
        align-items: center;
      }
    }
    .rigthSide {
        @include directionY;
        width: 100%;

        @include apply-at-sm-size {
            width: 70%;
        }

        .containerTitle {
            margin-bottom: 0.5rem;
        }
        .label {
            margin-bottom: 0.25rem;
        }
        .input {
            @include input;

            width: 100%;
            margin-bottom: 0.5rem;
        }
        .buttonConatainer {
            @include directionX;
            @include marginY(1rem);

            justify-content: center;

            .button {
                @include button;
            }
        }
    }
  }
}
